<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    <link rel="stylesheet" href="E:\Student Management\Content\font-awesome.min.css">


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        @*<h4>Welcome to Student Management</h4>*@
        <nav class="nav justify-content-start">
            <a href="@Url.Action("dashboard","Student")" class="nav-link">Dashboard</a>
            <a href="@Url.Action("Index","Course")" class="nav-link">Courses</a>
            <a href="@Url.Action("EnrolledCourses","Course")" class="nav-link">Enrolled Courses</a>
            <a href="@Url.Action("editProfileView","Student")" class="nav-link">Profile</a>
            <a href="@Url.Action("logout","Student")" class="nav-link">Logout</a>
        </nav>
    </div>
    <br />
    <div class="container">
        @RenderBody()
        <footer class="container border-danger position-absolute bottom-0 text-center" ">
            <p>&copy; @DateTime.Now.Year - Student Management App</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
